.about-section {
  padding-top: 7rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}

.about-us {
    padding: 8rem 0;

    .img-about {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 350px;
    }
}
