.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 12rem 0 2rem;
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%), url('../img/ai-justice.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: 'Varela Round';
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.25rem;
    background: -webkit-linear-gradient(rgba(white, 0.6), rgba(white, 0.3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  h2 {
    max-width: 50rem;
    font-size: 1rem;
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.25rem;
    }
  }
  @media (min-width: 576px) {
    padding: 15rem 0;
  }
}
